.column {
  float: left;
  margin-left: 10px;
  margin-right: 20px;
  width: auto;
}

.column2 {
  float: left;
  margin-left: 0px;
  margin-right: 0px;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


.column_paper {
  float: left_paper;
  margin-left: 10px;
}

.left_paper {
  width: 30%;
}

.img-circle {
    border-radius: 50%;
}
